EMString.xcodeproj/project.xcworkspace/contents.xcworkspacedata
EMString.xcodeproj/project.xcworkspace/xcuserdata/tanguyaladenise.xcuserdatad/UserInterfaceState.xcuserstate
EMString.xcodeproj/project.xcworkspace/xcuserdata/tanguyaladenise.xcuserdatad/WorkspaceSettings.xcsettings
EMString.xcodeproj/xcuserdata/tanguyaladenise.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
EMString.xcodeproj/xcuserdata/tanguyaladenise.xcuserdatad/xcschemes/EMString.xcscheme
EMString.xcodeproj/xcuserdata/tanguyaladenise.xcuserdatad/xcschemes/xcschememanagement.plist
